.archive-main .page-title {
  position: relative;
  margin: 0;
  padding: 40px 0 0 0;
  text-indent: 100px;
}
.archive-main .page-title .time-line-bg .time-line-disc {
  top: 0;
  display: none;
}
.archive-main .main-content .time-title {
  position: relative;
  margin: 0;
  font-size: 2rem;
  line-height: 1rem;
  padding: .6em 0;
}
.archive-main .main-content .time-title .time-title-link {
  text-decoration: none;
}
.archive-main .main-content .time-title .time-title-link:hover + .time-line-bg .time-line-disc {
  background-color: #3ebb96;
}
.archive-main .main-content .article-achive-title {
  position: relative;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: .6em 0;
  margin: 0;
}
.archive-main .main-content .article-achive-title:after {
  content: "";
  display: table;
  clear: both;
}
.archive-main .main-content .article-achive-title .title-date {
  font-size: .6rem;
  position: absolute;
  left: 3rem;
  width: 8rem;
}
.archive-main .main-content .article-achive-title .title-link {
  text-decoration: none;
  font-weight: normal;
  float: left;
  margin-left: 110px;
}
.archive-main .main-content .article-achive-title .title-link:hover ~ .time-line-bg .time-line-disc {
  background-color: #3ebb96;
}
.archive-main .time-line-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90px;
  width: 4px;
  background-color: rgba(214, 214, 214, 0.9);
  display: table-cell;
}
.archive-main .time-line-bg .time-line-disc {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin: -6px 0 0 -4px;
  background-color: rgba(234, 234, 234, 0.9);
  transition: background-color 0.36s ease;
}
.archive-main .is-sticky .time-title-link {
  z-index: 100;
}
