.menu-wrapper {
  position: relative;
  height: 48px;
  background-color: rgba(242, 242, 242, 0.95);
}
.menu-wrapper .menu-layout-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.menu-wrapper .menu-content {
  height: 48px;
  position: relative;
}
.menu-wrapper .menu-list {
  margin: 0;
}
.menu-wrapper .menu-list:after {
  content: "";
  display: table;
  clear: both;
}
.menu-wrapper .menu-list .menu-item {
  list-style: none;
  float: left;
  padding: 0 24px;
  margin: 12px 0;
  border-right: 1px solid rgba(214, 214, 214, 0.9);
}
.menu-wrapper .menu-list .menu-link {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  color: #3ebb96;
  font-size: 24px;
}
.menu-wrapper .menu-list .menu-link:hover {
  color: #2b8268;
}
