.post-list-wrapper {
  padding: 20px 0;
}
.post-list-wrapper .article-item {
  padding: 0 0 60px;
}
.post-list-wrapper .article-item .article-title-wrapper {
  font-size: 1.6rem;
  line-height: 1rem;
  margin: 10px 0;
  color: #4d4d4d;
}
.post-list-wrapper .article-item .title-link {
  color: #4d4d4d;
  text-decoration: none;
}
.post-list-wrapper .article-item .title-link:hover {
  color: #3ebb96;
}
.post-list-wrapper .article-item .article-meta:after {
  content: "";
  display: table;
  clear: both;
}
.post-list-wrapper .article-item .article-meta .meta-item {
  float: left;
  padding: 0;
  margin: 10px 0;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  color: #838383;
}
.post-list-wrapper .article-item .article-meta .meta-time {
  border-right: 1px solid #838383;
  padding-right: 12px;
}
.post-list-wrapper .article-item .article-meta .meta-category {
  padding-left: 12px;
}
.post-list-wrapper .article-item .article-meta .category-link {
  color: #838383;
}
.post-list-wrapper .article-item .article-meta .category-link:hover {
  color: #3ebb96;
}
.post-list-wrapper .article-item .article-read-more .read-more-link {
  display: inline-block;
  font-size: 16px;
  background-color: #e8e8e8;
  padding: 10px 20px;
  text-decoration: none;
  color: #505050;
}
.post-list-wrapper .article-item .article-read-more .read-more-link:hover {
  color: #FFF;
  background-color: #3ebb96;
}
