body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  position: relative;
  padding: 0 1em;
  z-index: 1;
  text-align: right;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}
