// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html{
    background: url(http://sxxz.u.qiniudn.com/BGbodyBg.jpg) center 0 no-repeat fixed;
}
body{
    font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}
body > header {
    background: none;
    padding: 0;
    margin-top: 1em;
}
body > header .siteTitle{
    font-family: Microsoft Yahei;
    float: left;
    text-shadow: 0 0 10px #000;
}
body > header .siteSubtitle{
    font-family: Microsoft Yahei;
    float: left;
    padding: 25px 0 0 30px;
}
.subtitleItem{
    display: inline-block;
    text-shadow: 0 0 5px #EEE;
    -moz-transform-origin:center center;
    -webkit-transform-origin:center center;
    -o-transform-origin:center center;
    -ms-transform-origin:center center;
    transform-origin:center center;
}
.subtitleItem:hover{
    -webkit-transform:rotate(0);
}
body > nav{
    border-radius: 0.4em 0.4em 0 0;
}
body > #main{
    
}