// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html{
    background: none;
    background-color: #FFF;
}
body{
    max-width: none;

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    #main {
        margin-top: 48px;

        #content > div {
            margin: 0 auto;
        }
    }
}